accelerate
av
# torch
# torchvision
# torchaudio
opencv-python
easydict
einops
xformers
torchsde
pytorch-lightning
open-clip-torch==2.20.0
fairscale==0.4.13
torch==2.4.0
diffusers==0.30.0
huggingface_hub==0.25
gradio==4.41.0
numpy==1.26
